{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}

    <header>
        <h1>Une expérience unique et inoubliable</h1>
    </header>

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to Symbnb</h1>
            <p class="lead">Symbnb est une agence spécialisé dans la mise en relation entre particuliers pour la 
            location de biens haut de gamme. Notre agence vous offre la possibilité de louer un bien en Europe ainsi
            qu'au Canada</p>
            <hr class="my-4">
            <p>Vous êtes voyageur ? Vous souhaitez voir où vous pourrez loger pour votre prochain déplacement ?</p>
            <p class="lead">
            <a class="btn btn-primary" href="{{ path("ad") }}" role="button">Voir nos annonces</a>
            </p>
    </div>
    <h2>Nos appartements stars</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    2 chambres, <strong>639 Euros / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="img/img-paris.jpg" alt="img appartement" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement Paris</h4>
                    <p class="card-text">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                         impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur 
                        anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div> 
        </div>

         <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>729 Euros / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="img/img-london.jpg" alt="img appartement" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement Londres</h4>
                    <p class="card-text">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                         impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur 
                        anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div> 
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    2 chambres, <strong>399 Euros / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="img/img-montreal.jpg" alt="img appartement" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement Montreal</h4>
                    <p class="card-text">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                         impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur 
                        anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div> 
        </div>
    </div>

    <h2>Nos propriétaires stars</h2>

    <div class="row mt-5">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Homer Simpson</h4>
                    <hr>
                    <div class="card-text">
                        <img src="/img/img-homer.jpg" alt="img avatar" class="float-left mr-3" style="border-radius: 50%; width:40px;">
                        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page</p>
                        <a href="#" class="btn btn-secondary float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

           <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Mr Bean</h4>
                    <hr>
                    <div class="card-text">
                        <img src="/img/img-bean.png" alt="img avatar" class="float-left mr-3" style="border-radius: 50%; width:40px;">
                        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page</p>
                        <a href="#" class="btn btn-secondary float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
