{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to Symbnb</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités
            et gagner de l'argent en proposant leur bien à la location.</p>
            <hr class="my-4">
            <p>Vous êtes voyageur ? Vous souhaitez voir où vous pourrez loger pour votre prochain déplacement ?</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </p>
    </div>
    <h2>Nos Best Sellers</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    2 chambres, <strong>69 Euros / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="https://imgplaceholder.com/1000x480/ff7f7f/333333/fa-image" alt="img appartement" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement 100 mètres de la plage</h4>
                    <p class="card-text">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                         impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur 
                        anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div> 
        </div>

             <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    2 chambres, <strong>69 Euros / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="https://imgplaceholder.com/1000x480/3498db/333333/fa-image" alt="img appartement" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement 100 mètres de la plage</h4>
                    <p class="card-text">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                         impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur 
                        anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div> 
        </div>

             <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    2 chambres, <strong>69 Euros / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="https://imgplaceholder.com/1000x480/e67e22/333333/fa-image" alt="img appartement" style="height: 200px; width: 100%; display: block;">
                <div class="card-body">
                    <h4 class="card-title">Appartement 100 mètres de la plage</h4>
                    <p class="card-text">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                         impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur 
                        anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                </div>
            </div> 
        </div>
    </div>

    <h2>Nos propriétaires stars</h2>

    <div class="row mt-5">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Toto</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="img avatar" class="float-left mr-3" style="border-radius: 50%;">
                        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

           <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Toto</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="img avatar" class="float-left mr-3" style="border-radius: 50%;">
                        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
