{% extends 'base.html.twig' %}
{% block title %}Nos annonces{% endblock %}
{% form_theme form _self %}

{% block body %}

    <div id="bgCreate"></div>
    <div class="container mt-5">
        <h1>Création d'une annonce</h1>
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Créer l'annonce</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block javascripts %}
<script src="/js/ad.js"></script>
{% endblock %}

